
body {
    background-color: rgb(17, 24, 39);
    color: rgb(203, 198, 196);
}

.head {
    font-family: "Roboto", sans-serif;
    font-size: 44px;
    font-weight: bolder;
    text-align: center;
}

#recipe {
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#noodle {
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#bread {
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#pizza {
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 2;
}

.text.front {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    text-align: center;
    list-style-position: inside;
}

.back {
    font-family: "Roboto", sans-serif;
    font-size: 44px;
    font-weight: bolder;
    text-align: center;
    color: red;
}
